# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDE Specific
.idea
bin
.settings
.classpath
.project
nbproject

# Databases
production.db
testing.db
useless.db
empty.db
